body {
  margin: 0;
  padding: 0;

  color: #333333;
  background-color: #e4e4e4;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button {
  border: 1px outset cadetblue;
  background-color: cadetblue;
  color: white;
  width: 80px;
  padding: 0.5rem;
  margin: 1rem;
  text-transform: uppercase;
  transition: all 0.1s ease;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(1.1);
  background-color: cadetblue;
  color: white;
}

h2 {
  margin-bottom: 0;
}

i {
  color: #999999;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 768px;
  margin: auto;
  padding: 0 1rem;
  text-align: center;
}

.content {
  flex-grow: 1;
}

.grid-wrapper {
  position: relative;
  display: grid;
  outline: 5px ridge #5f9ea0;
  max-width: 300px;
  min-height: 300px;
  width: auto;
  height: auto;
  margin: auto;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
}

.grid-image {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.3;
}

.grid {
  transition: all 0.2s linear;
  border: 1px solid rgba(95, 158, 160, 0.3);
  cursor: pointer;
}

.grid:hover {
  transform: scale(1.2);
  border: 1px solid brown;
}

.color-picker-wrapper {
  margin: 0.5rem;
}

.color-picker {
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
}

.color-history-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 50%;
  text-align: center;
}

.color-history {
  cursor: pointer;
  border: none;
  margin: 0.5rem;
  width: 25px;
  height: 25px;
}
